{% extends 'base.html.twig' %}

{% block title %}{{ article.titre }}{% endblock %}

{% block body %}
    <div class="container mt-5 p-5">
        <div class="article-details bg-light p-4 rounded shadow-sm text-center">
            <h1 class="text-dark mb-4">{{ article.titre }}</h1>
            <p class="lead">{{ article.texte }}</p>
            
            <div class="text-center">
                <a href="{{ path('app_blog') }}" class="btn btn-outline-secondary btn-lg">Retour à la liste des articles</a>
            </div>
        </div>
    </div>
{% endblock %}
